<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="7.0.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.6" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="6.1.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.BLE" version="2.0.0-pre1" targetFramework="xamarinios10" />
  <package id="Serilog" version="2.8.0" targetFramework="xamarinios10" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Serilog.Sinks.Xamarin" version="0.1.29" targetFramework="xamarinios10" />
  <package id="Syncfusion.Licensing" version="16.2.0.43" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart.IOS" version="16.2.0.42" targetFramework="xamarinios10" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Console" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.0.11" targetFramework="xamarinios10" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="xamarinios10" />
</packages>